.radio-color-wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin-top: 1rem;
}

.colors {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 999px;
    background-color: var(--shape-button);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .2s, background-color .5s;

    & input[type="radio"] {
        display: none;
        cursor: pointer;
    }

    &:hover,
    &:focus-within {
        background-color: var(--shape-hover);
    }

    &:has(input[type="radio"]:checked) {
        border: 2px solid #59B2FF;
    }
}



.blue {
    background: #59B2FF;
}

.navy {
    background: #6A59FF;
}

.purple {
    background: #B259FF;
}

.fushia {
    background: #FF59F9;
}

.pink {
    background: #FF598B;
}

.danger {
    background: #FF5959;
}

.orange {
    background: #FF5959;
}

.yellow {
    background: #FFCD59;
}

.line {
    background: #E1FF59;
}

.green {
    background: #59FF91;
}

.cyan {
    background: #59FFF9;
}

.label-color {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 999px;
    cursor: pointer;
}