:root {
    /* fonts */
    --font-leckerli-one: "Leckerli One", cursive;
    --font-baloo: "Baloo 2", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    /* colors */
    --background-default: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --pink: #FF598B;
    --input-base: #1C1F21;
    --input-stroke: #363B40;

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}